/*CSS del Index*/
body{
    background: url("/Reposteria/images/bg.jpg");
    width: auto;
    height: auto;
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #594545;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15);
    width: 100%;
}
header h1{
    text-align: center;
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 800;
}
nav{
    margin: 2%;
    text-align: right;
    height: 1.2em;
}
nav li{ 
    display: inline-block;

}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    margin: 8px;
}
nav a:hover{
    border-bottom: .1875em solid brown;
    transition: .1s;
    color: #ECD6C0;
}
.contenido{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.875em 0;
    
}
.caja-imagen{
    flex-basis: 35%;
    height: 13.95em;
    line-height: 7.5em;
    text-align: center;
}
.caja-imagen img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.caja-imagen img:hover{
    transform: scale(1.02);
}
.caja{
    flex-basis: 65%;
    height: 8.72em;
    line-height: 7.5em;
    text-align: center;
    font-size: 1.6em;
}
.caja:nth-child(even){
    background-color: #D8AF97;
}
.caja:nth-child(odd){
    background-color: #ECD6C0;
}
.contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numero{
    background-color: #D8AF97;
    width: 60%;
    height: 5em;
    margin: 1.25em 20%;
    line-height: 1.6em;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 15);
}
.numero img{
    width: 1.2em;
}
.redes{
    background-color: #D8AF97;
    width: 60%;
    height: 4em;
    margin: 1.25em 20%;
    line-height: 2em;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 15);

}
.redes li{
    display: inline-block;
    margin-left: 5px;
}
.redes a{
    text-decoration: none;
    color: black;
    transition: 4s;
}
.redicon:hover{
    text-decoration: underline;
    
}
.redes img{
    width: 1.2em;
    margin-left: 5px;
    vertical-align:middle;
}
footer{
    margin-top: 1.875em;
    background-color: #594545;
    text-align: center;
    line-height: 3em;
    height: auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 15);
    font-weight: 600;
}
/*Adaptabilidad a moviles*/


@media (max-width: 992px) {
    body{
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    body{
        font-size: 14px;
    }
    .contenido{
        margin-top: 45px;
    }

    footer{
        margin-top: 45px;
    }
}
@media (max-width: 576px) {
    body{
        font-size: 10px;
    }
    nav{
        text-align: center;
    }
    nav a{
        margin-left: 5px;
    }

    .caja-imagen{
        flex-basis: 10%;
        flex-direction: column;
    }

    .caja{
        width: 100%;
    }
    .contenido{
        flex-direction: column;
        display: flex;
    }
}
@media (max-width: 280px) {
    body{
        font-size: 8px;
    }
}